.infoContainer {
  display: grid;
  grid-gap: auto;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
}

.infoBox {
  background-color: lightgray;
  color: white;
  padding: 20px;
}

.gameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  background-color: azure;
  border: 5px solid blue;
  text-align: center;
}

.gameContainer > .blue {
  background-color: blue;
  color: white;
  padding: 20px;
  font-size: 48px;
}

.gameContainer > .red {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 48px;
}

.gameContainer > .gray {
  background-color: gray;
  color: purple;
  padding: 24px;
  font-size: 24px;
}

.gameContainer > div {
  border: 2px solid blue;
  border-radius: 25px;
  background-color: lightgray;
  padding: 35px;
  color: green;
}

.center {
  text-align: center;
}

.yellow {
  background-color: yellow;
}

.blackText {
  color: black;
  font-size: 18px;
}

.yellowBig {
  background-color: yellow;
  font-size: 36px;
}

.redBig {
  background-color: red;
  font-size: 36px;
}

.red {
  background-color: red;
}

#resetButton {
  background-color: blue;
}

.displayNone {
  display: none;
}

.unclickable {
  pointer-events: none;
}
