.container {
  text-align: center;
}

#canvas {
  background-color: #17e9e0;
}

#header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffb48f;
}

.easy {
  border-color: #ffb48f;
  color: black;
}

.easy:hover {
  background: #ffb48f;
  color: white;
}

.medium {
  border-color: #a64ac9;
  color: black;
}

.medium:hover {
  background: #a64ac9;
  color: white;
}
