@import url(https://fonts.googleapis.com/css?family=Open);
html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

#nav a {
  color: rgb(7, 7, 7);
}

.levelText {
  font-size: 2rem;
  cursor: pointer;
}

.easyL {
  color: #fccd04;
}

.mediumL {
  color: #ffb48f;
}

.hardL {
  color: #17e9e0;
}

.hidden {
  display: none;
}

#selector .level {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -1em;
}

#selector .countdown {
  text-align: center;
  display: none;
  font-size: 5em;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -1em;
}

#selector .level .levelicon {
  width: 5em;
  height: 5em;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10%;
  cursor: grab;
}

#selector .level .levelicon:last-child {
  margin: 0;
}

#howtoplay {
  display: none;
}

.selected {
  display: table;
}

.cellselect {
  background-color: #ffb48f;
}

table {
  height: 100%;
  width: 100%;
  display: none;
}

table tr td {
  border: 3px solid #17e9e0;
  cursor: pointer;
}

#gameover {
  display: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

#gameover .gameovervalue {
  display: block;
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #ffb48f;
}

#gameover .gameovertext {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  color: #fccd04;
}

#gameover a {
  color: #a64ac9;
}

@media screen and (max-height: 270px) {
  #selector .level {
    top: 70%;
  }
  #selector .countdown {
    top: 70%;
  }
}

@media screen and (max-width: 350px) {
  #selector .instructions {
    text-align: right;
    margin-left: -0.5em;
  }

  .instructions {
    text-align: right;
    margin-left: -0.5em;
    margin-top: 100px;
  }
}

.toggler {
  height: 30px;
  width: 60px;
  background-color: #17e9e0;
  border-radius: 25px;
  margin-right: 20px;
}
.toggle {
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  border-radius: 100%;
  transition: margin-left 0.5s ease;
}
.toggleTrue {
  margin-left: 30px;
}
.toggleFalse {
  margin-left: 0px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

.navbar {
  background-color: #a64ac9;
}

.instructions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#restart {
  background-color: #ffb48f;
}
