.toggler {
  height: 30px;
  width: 60px;
  background-color: #17e9e0;
  border-radius: 25px;
  margin-right: 20px;
}
.toggle {
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  border-radius: 100%;
  transition: margin-left 0.5s ease;
}
.toggleTrue {
  margin-left: 30px;
}
.toggleFalse {
  margin-left: 0px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

.navbar {
  background-color: #a64ac9;
}

.container {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  line-height: 1.5;
}

h1 {
  margin: 1em auto;
}

a {
  text-decoration: none;
  color: pink;
  font-weight: 700;
}

span.red {
  color: #ffb48f;
  font-weight: 700;
}

span.blue {
  color: #17e9e0;
  font-weight: 700;
}

span.pink {
  color: pink;
}

.button {
  width: 90px;
  height: 15px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;

  cursor: pointer;
  text-align: center;
}

.tic-tac-toe {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.tile {
  height: 150px;
  width: 150px;
  display: inline-block;
  cursor: pointer;

  position: relative;
  vertical-align: top;

  padding: 20px;
  margin-bottom: 5px;
  box-sizing: border-box;

  color: #fff;
  font-size: 60px;
  text-align: center;
}

.free {
  background-color: #f5e6cc;
}

.O-play {
  background-color: #17e9e0;
}

.X-play {
  background-color: #ffb48f;
}
